dynamic.registration.anonymous.allowed.grant.types=[ \
"*", \
]
dynamic.registration.anonymous.allowed.hosts=[ \
"*", \
]
dynamic.registration.anonymous.allowed.redirect.uri.patterns=[ \
"http://localhost:33418/callback", \
"http://localhost:6274/oauth/callback", \
"http://localhost:6274/oauth/callback/debug", \
"http://localhost:8080/oauth/callback", \
"http://localhost:8080/oauth/callback/debug", \
]
dynamic.registration.anonymous.allowed.scopes=[ \
"Liferay.OAuth.Client.REST.everything", \
"Liferay.MCP.Server.everything", \
]
dynamic.registration.anonymous.registrations.per.hour=I"0"
dynamic.registration.require.initial.access.token=B"false"
