oauth2.dynamic.registration.allowed.grant.types=[ \
"*", \
]
oauth2.dynamic.registration.allowed.hosts=[ \
"*", \
]
oauth2.dynamic.registration.allowed.redirect.uri.patterns=[ \
"http://localhost:*/callback", \
"http://localhost:*/oauth/callback", \
"http://localhost:*/oauth/callback/debug", \
]
oauth2.dynamic.registration.allowed.scopes=[ \
"Liferay.OAuth.Client.REST.everything", \
"Liferay.MCP.Server.everything", \
]
oauth2.dynamic.registration.maximum.number.of.registrations.per.hour=I"0"
oauth2.dynamic.registration.require.initial.access.token=B"false"
