configuration.name="Default\ Portal\ CORS\ Configuration"
enabled=B"true"
filter.mapping.url.pattern=[ \
"/.well-known/oauth-protected-resource", \
"/.well-known/oauth-protected-resource/*", \
"/o/oauth2/*", \
"/o/mcp", \
"/o/mcp/*", \
"/.well-known/oauth-authorization-server", \
"/.well-known/oauth-authorization-server/*", \
]
headers=[ \
"Access-Control-Allow-Headers: Authorization, Content-Type, MCP-Protocol-Version", \
"Access-Control-Allow-Methods: GET,POST,PUT,DELETE,OPTIONS,HEAD", \
"Access-Control-Allow-Origin: http://localhost:8080 http://127.0.0.1:8080 ::1 http://localhost:6274 http://localhost:33418", \
]
